[Desktop Entry]
Type=Application
Name=1-комнатная квартира на продажу —  город Люберцы
Exec=pcmanfm ./images/files/1-комнатная квартира на продажу —  город Люберцы-20180421165306-4qlnh4g0jg99m9wo
Icon=1-комнатная квартира на продажу —  город Люберцы.png
Terminal=true