[Desktop Entry]
Type=Application
Name=1-комнатная квартира на продажу —  город Люберцы
Exec=pcmanfm ./images/files/1-комнатная квартира на продажу —  город Люберцы-20180421165214-4qlnh4dkjg99l5ye
Icon=1-комнатная квартира на продажу —  город Люберцы.png
Terminal=true