[Desktop Entry]
Type=Application
Name=1-комнатная квартира на продажу —  город Люберцы
Exec=pcmanfm ./images/files/1-комнатная квартира на продажу —  город Люберцы-20180421165047-4qlnhdwjg99ja8n
Icon=1-комнатная квартира на продажу —  город Люберцы.png
Terminal=true