[Desktop Entry]
Type=Application
Name=1-комнатная квартира на продажу —  город Люберцы
Exec=pcmanfm ./images/files/1-комнатная квартира на продажу —  город Люберцы-20180421165433-4qlnh5i8jg99o4y4
Icon=1-комнатная квартира на продажу —  город Люберцы.png
Terminal=true